.wrapper {
  height: 80px;
  background-color: #0c2738;
  color: #899ead;
}

// Navigation
.nav-item {
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
}

.nav-item > a {
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom-width: 2px;
  border-bottom-color: transparent;
  transition: border 0.2s, color 0.2s;

  &:hover {
    color: #fff;
  }
}

.nav-item > .current {
  border-color: #f1b722;
  color: #fff;
}

// Action button
.action-btn {
  padding: 1.2rem 3.2rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  transition: color 0.2s;

  &:hover {
    color: #fff;
  }
}

.bars-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #899ead;
}
