// Tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

// google font - Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --ff-main: 'Nunito', sans-serif;
}

// html {
//   font-size: 62.5%;
// }

body {
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  font-family: var(--ff-main);
  font-weight: 600;
  font-size: 17px;
  // background-color: #081b27;
  // color: #fff;
  color: rgb(89, 89, 89);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  // color: var(---text-color);
  text-decoration: none;

  &:hover {
    color: unset;
  }
}
