.film-show {
  grid-template: auto 1fr/120px minmax(0, 1fr);
}

.cinema-list-height {
  height: 500px;
  overflow-y: auto;
}

// Origin styles
// .cinema-list-height.jsx-49365df99aa9b7b9 {
//     height: 500px;
//     overflow-y: auto;
// }
