.-mx-5 {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.text-tiny {
  font-size: 0.8125rem;
}
.wrap-img {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  background-color: #081b27;
}
